<h2 piwik-enriched-headline data-graph-id="QoS.bwGraph">{{ 'QoS_Bandwidth'|translate }}</h2>

{% for isp in bandwidthGraphs %}
    <div class="categoryEntry" style="clear:both">
        <h2>{{ isp.title }}</h2>

        {{ isp.graph|raw }}

    </div>
{% endfor %}