<div class="rơw">
    <div class="col-md-6">
        <div class="col-md-12">
        {{ graphOverviewBw|raw }}
        </div>
        <div class="col-md-12 box-overview">
            {% include "@QoS/_overviewCacheHit.twig" %}
        </div>
        <div class="col-md-12">
        {{ graphIsp|raw }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="col-md-12 box-overview">
            {% include "@QoS/_overviewSpeed.twig" %}
        </div>
        <div class="col-md-12">
        {{ graphHttpCode|raw }}
        </div>
        <div class="col-md-12">
        {{ graphCountry|raw }}
        </div>
    </div>
</div>