<h2 piwik-enriched-headline data-graph-id="QoS.userSpeedGraph">{{ 'QoS_TrafficPerIsp'|translate }}</h2>

{{ graphTrafficPerIsp|raw }}

{#<h3>{{ 'QoS_TrafficByIsp'|translate }}</h3><br>#}
{#{{ graphTrafficByIsp|raw }}#}