<div id="realTimeAvgD"></div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$('#realTimeAvgD').gaugeWidget({
        intervals: 10,
		dataUrlParams: {
			module: 'API',
			method: 'QoS.getAvgDl',
			format: 'json',
			lastMinutes: 2,
			metric: 'avg_speed'
		},
		label: 'bps',
		unit: 'unit',
		valueName:    'avg_val',
		maxValueName: 'max_val'
	});
});
</script>